.libs/
.deps/
*.lo
*.o
*.dep
modules/
autom4te.cache/
build/
config.h
config.h.in
config.log
config.status
config.nice
configure
configure.ac
libtool
Makefile
Makefile.objects
Makefile.fragments
Makefile.global
acinclude.m4
aclocal.m4
run-tests.php
tests/*.diff
tests/*.out
tests/*.exp
tests/*.log
tests/*.php
tests/*.sh
*.tar.gz
.phpunit.result.cache
*.la
